
IF NOT EXISTS 
    (SELECT name  
     FROM master.sys.server_principals
     WHERE name = '{{orchard_db_user}}')
BEGIN
    CREATE LOGIN {{orchard_db_user}} WITH PASSWORD = N'{{orchard_db_password}}'
END;
GO

Use {{orchard_db_name}};
GO

IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'{{orchard_db_user}}')
BEGIN
    CREATE USER [{{orchard_db_user}}] FOR LOGIN [{{orchard_db_user}}]
    EXEC sp_addrolemember N'db_owner', N'{{orchard_db_user}}'
END;
GO